<a href="https://colab.research.google.com/github/ssreepathy/COGS108_Repo/blob/main/DataCheckpoint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# COGS 108 - Data Checkpoint
## Names:
- Frida Mancilla
- Gabriella Bulacan
- Tatsuya Aizawa
- Murad Ali Gondal
- Sarat Sreepathy

## Research Question
Given that the efficiency of a countryâ€™s healthcare system can be measured by both economic indicators (GDP Expenditure) and health indicators (childhood mortality, vaccination coverage, insurance rate), how much does the quality of healthcare in the U.S contribute to the change in life expectancy from 1980 to 2016?

## Dataset(s)

1.
- Dataset Name: Life Expectancy at Birth (World Bank data) (1960-2016)
- Link to the dataset: https://ourworldindata.org/life-expectancy
- Number of observations: 13,748
- Description: This dataset contains number of years of life expectancy at birth from multiple countries around the world (includes U.S.)

2.
- Dataset Name: U.S National Health Expenditure Summary (1960-2016)
- Link to the dataset: https://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/NationalHealthExpendData/NationalHealthAccountsHistorical
- Number of observations: 34
- Description: Contains info on healthcare expenditure/consumption, GDP per capita, U.S population, etc.

3.
- Dataset Name: Childhood Mortality (1950-2017)
- Link to the dataset:
https://ourworldindata.org/child-mortality-in-the-past 
- Number of observations: 8,345
- Description: This dataset contains the mortality rates of children that died before reaching 15.

4.
- Dataset Name: Annual Number of Deaths (1950-2019) 
- Link to the dataset: https://ourworldindata.org/grapher/annual-number-of-deaths-by-world-region
- Number of observations: 17,220
-  Description: Contains annual number of deaths in the entire world (includes U.S)

5.
- Dataset Name: Vaccination Coverage by Income (1980-2017)
- Link to the dataset: https://ourworldindata.org/grapher/vaccination-coverage-by-income-in
- Number of observations: 47,407
- Description: Contains the percentage coverage of one-year olds that were vaccinated against diphtheria, pertussis, and tetanus.

6.
- Dataset name: Insurance Rate (1963-2015)
- Link to the dataset:
https://ourworldindata.org/grapher/percentage-of-persons-without-health-insurance-coverage-us 
- Number of observations: 39
- Description: Contains percentage of persons in the U.S without health insurance.


Since we have multiple dataset, we will join the datasets by year. The earliest year throughout all datasets is 1980 and latest is 2016. This will be our year window of a total of 36 years.

## Setup

In [1]:
import pandas as pd

In [2]:
#from google.colab import drive
#drive.mount('/content/drive')

## Data Cleaning

### 1. National Health Expenditure Summary (NHE)

In [3]:
nhe = pd.read_excel('NHE19_Summary.xlsx')

nhe.head()

  Table 1 \nNational Health Expenditures; Aggregate and Per Capita Amounts, Annual Percent Change and Percent Distribution: Calendar Years 1960-2019  ...  Unnamed: 60
0                                 Expenditure Amount                                                                                                  ...       2019.0
1  National Health Expenditures (Amount in Billions)                                                                                                  ...       3795.4
2                    Health Consumption Expenditures                                                                                                  ...       3593.7
3                               Personal Health Care                                                                                                  ...       3207.0
4               Government Administration and Net...                                                                                                  ...        288.9

[5 rows x 61 columns]

In [4]:
# Transpose National Healthcare Expenditure df so that year is a variable.
nhe = nhe.transpose()

nhe.head()

                                                                    0   ...                                                 33
Table 1 \nNational Health Expenditures; Aggrega...  Expenditure Amount  ...  SOURCE:  Centers for Medicare & Medicaid Servi...
Unnamed: 1                                                        1960  ...                                                NaN
Unnamed: 2                                                        1961  ...                                                NaN
Unnamed: 3                                                        1962  ...                                                NaN
Unnamed: 4                                                        1963  ...                                                NaN

[5 rows x 34 columns]

In [5]:
# Column names are stored in first row of the df, we need to change this accordingly.
nhe.columns = nhe.iloc[0]
nhe = nhe.rename(columns={'Expenditure Amount': 'Year'})
nhe = nhe.iloc[1:]
nhe = nhe.rename_axis(None, axis=1) # (Drop index header.)

nhe.head()

            Year  ... SOURCE:  Centers for Medicare & Medicaid Services, Office of the Actuary, National Health Statistics Group;  U.S. Department of Commerce, Bureau of Economic Analysis; and U.S. Bureau of the Census.
Unnamed: 1  1960  ...                                                NaN
Unnamed: 2  1961  ...                                                NaN
Unnamed: 3  1962  ...                                                NaN
Unnamed: 4  1963  ...                                                NaN
Unnamed: 5  1964  ...                                                NaN

[5 rows x 34 columns]

In [6]:
# Last 4 columns we orginally rows that contained info on the dataset (footnotes), we can remove these as well.
nhe = nhe.iloc[:,:-4]
nhe = nhe.reset_index(drop=True)

nhe.head()

   Year  ... National Health Expenditures as a Percent of Gross Domestic Product (Percent)
0  1960  ...                                                  5
1  1961  ...                                                5.2
2  1962  ...                                                5.3
3  1963  ...                                                5.4
4  1964  ...                                                5.6

[5 rows x 30 columns]

### 2. Life Expentancy data (World Bank)

In [7]:
life_expectancy = pd.read_csv('life-expectancy-at-birth-total-years.csv')

life_expectancy.head()

        Entity Code  Year  Life expectancy at birth, total (years)
0  Afghanistan  AFG  1960                                   32.292
1  Afghanistan  AFG  1961                                   32.742
2  Afghanistan  AFG  1962                                   33.185
3  Afghanistan  AFG  1963                                   33.624
4  Afghanistan  AFG  1964                                   34.060

In [8]:
# We only need to grab colummns containing info on the US and >= 1980
life_expectancy = life_expectancy[life_expectancy['Entity'] == 'United States']
life_expectancy = life_expectancy.drop(columns=['Entity', 'Code'])
life_expectancy = life_expectancy[life_expectancy['Year'] >= 1980].reset_index(drop=True)
life_expectancy = life_expectancy.reset_index(drop=True)

life_expectancy.head()

   Year  Life expectancy at birth, total (years)
0  1980                                73.609756
1  1981                                74.009756
2  1982                                74.360976
3  1983                                74.463415
4  1984                                74.563415

In [9]:
# Starting to merge them by year into a single dataframe, datum.

datum = pd.merge(nhe, life_expectancy, on='Year')
datum.head()

   Year  ... Life expectancy at birth, total (years)
0  1980  ...                               73.609756
1  1981  ...                               74.009756
2  1982  ...                               74.360976
3  1983  ...                               74.463415
4  1984  ...                               74.563415

[5 rows x 31 columns]

In [10]:
datum.shape

(37, 31)

### 3. Childhood Mortality Rates

In [11]:
child_mort = pd.read_csv('Childhood_Mortality_Over_Years.csv')
child_mort = child_mort[child_mort['Entity'] == 'United States'].reset_index(drop=True) # filter by U.S as well
child_mort = child_mort.drop(columns=['Entity', 'Code'])
child_mort = child_mort[child_mort['Year'] >= 1980].reset_index(drop=True)

child_mort.head()

   Year  Youth mortality rate (UN IGME (2018))
0  1980                               1.795500
1  1981                               1.725824
2  1982                               1.666108
3  1983                               1.606382
4  1984                               1.566490

In [12]:
datum = pd.merge(datum, child_mort, on='Year')

datum.head() # earliest year should still be 1980

   Year  ... Youth mortality rate (UN IGME (2018))
0  1980  ...                              1.795500
1  1981  ...                              1.725824
2  1982  ...                              1.666108
3  1983  ...                              1.606382
4  1984  ...                              1.566490

[5 rows x 32 columns]

In [13]:
datum.shape[0] == 37 # checking year frame is preserved...

True

### 4. Annual Number of Deaths

In [14]:
annual_deaths = pd.read_csv('annual-number-of-deaths-by-world-region.csv')
annual_deaths.head()

        Entity  ... Estimates, 1950 - 2020: Annually interpolated demographic indicators - Deaths (thousands)
0  Afghanistan  ...                                           298139.0
1  Afghanistan  ...                                           297342.0
2  Afghanistan  ...                                           295841.0
3  Afghanistan  ...                                           294524.0
4  Afghanistan  ...                                           293392.0

[5 rows x 4 columns]

In [15]:
annual_deaths = annual_deaths[annual_deaths['Entity'] == 'United States']
annual_deaths = annual_deaths.drop(columns=['Entity', 'Code'])
annual_deaths = annual_deaths[annual_deaths['Year'] >= 1980].reset_index(drop=True)
annual_deaths = annual_deaths.reset_index(drop=True)

annual_deaths.head()

   Year  Estimates, 1950 - 2020: Annually interpolated demographic indicators - Deaths (thousands)
0  1980                                          2017882.0
1  1981                                          2037675.0
2  1982                                          2061284.0
3  1983                                          2087053.0
4  1984                                          2113891.0

In [16]:
#merge annual deaths data on year
datum = pd.merge(datum, annual_deaths, on='Year')

datum.head() # earliest year should still be 1980

   Year  ... Estimates, 1950 - 2020: Annually interpolated demographic indicators - Deaths (thousands)
0  1980  ...                                          2017882.0
1  1981  ...                                          2037675.0
2  1982  ...                                          2061284.0
3  1983  ...                                          2087053.0
4  1984  ...                                          2113891.0

[5 rows x 33 columns]

In [17]:
datum.shape[0] == 37 # checking year frame is preserved...

True

###5. Vaccination Rate Over Years

In [18]:
vaccination_rate = pd.read_csv('vaccination-coverage-by-income-in.csv')
vaccination_rate.head()

        Entity      Code  ...  Total population (Gapminder, HYDE & UN)  Continent
0     Abkhazia  OWID_ABK  ...                                      NaN       Asia
1  Afghanistan       AFG  ...                               13357000.0        NaN
2  Afghanistan       AFG  ...                               13172000.0        NaN
3  Afghanistan       AFG  ...                               12883000.0        NaN
4  Afghanistan       AFG  ...                               12538000.0        NaN

[5 rows x 7 columns]

In [19]:
# We only need the colummns containing info on the US and >= 1980
vaccination_rate = vaccination_rate[vaccination_rate['Entity'] == 'United States']
vaccination_rate = vaccination_rate.drop(columns=['Entity', 'Code'])
vaccination_rate = vaccination_rate[vaccination_rate['Year'] >= 1980].reset_index(drop=True)
vaccination_rate = vaccination_rate.reset_index(drop=True)

vaccination_rate.head()

   Year  ...  Continent
0  1980  ...        NaN
1  1981  ...        NaN
2  1982  ...        NaN
3  1983  ...        NaN
4  1984  ...        NaN

[5 rows x 5 columns]

In [20]:
#merge vaccination data on year
datum = pd.merge(datum, vaccination_rate, on='Year')

datum.head() # earliest year should still be 1980

   Year  ... Continent
0  1980  ...       NaN
1  1981  ...       NaN
2  1982  ...       NaN
3  1983  ...       NaN
4  1984  ...       NaN

[5 rows x 37 columns]

In [21]:
datum.shape[0] == 37 # checking year frame is preserved...

True

### 6. Insurance Rate Over the Years

In [22]:
insurance_rate = pd.read_csv('Insurance_Rate_Over_Years.csv')
insurance_rate.head()

          Entity Code  Year  Percentage of persons without health insurance (%)
0  United States  USA  1963                                               24.3
1  United States  USA  1968                                               14.5
2  United States  USA  1970                                               14.6
3  United States  USA  1972                                               13.2
4  United States  USA  1974                                               11.4

In [23]:
insurance_rate = insurance_rate[insurance_rate['Entity'] == 'United States']
insurance_rate = insurance_rate.drop(columns=['Entity', 'Code'])
insurance_rate = insurance_rate[insurance_rate['Year'] >= 1980].reset_index(drop=True)
insurance_rate = insurance_rate.reset_index(drop=True)

insurance_rate.head()

   Year  Percentage of persons without health insurance (%)
0  1980                                               11.4
1  1982                                               12.5
2  1983                                               13.1
3  1984                                               12.9
4  1986                                               13.3

In [24]:
datum = datum.set_index('Year')
insurance_rate = insurance_rate.set_index('Year')
datum['Percentage of persons without health insurance (%)'] = insurance_rate['Percentage of persons without health insurance (%)']
datum.head()

       National Health Expenditures (Amount in Billions)  ... Percentage of persons without health insurance (%)
Year                                                      ...
1980.0                                             253.2  ...                                               11.4
1981.0                                             293.6  ...                                                NaN
1982.0                                             330.9  ...                                               12.5
1983.0                                             364.8  ...                                               13.1
1984.0                                             401.9  ...                                               12.9

[5 rows x 37 columns]

In [25]:
datum = datum.reset_index()
datum.head()

     Year  ... Percentage of persons without health insurance (%)
0  1980.0  ...                                               11.4
1  1981.0  ...                                                NaN
2  1982.0  ...                                               12.5
3  1983.0  ...                                               13.1
4  1984.0  ...                                               12.9

[5 rows x 38 columns]

In [26]:
datum = datum.drop(columns = ['Continent'])
datum.head()

     Year  ... Percentage of persons without health insurance (%)
0  1980.0  ...                                               11.4
1  1981.0  ...                                                NaN
2  1982.0  ...                                               12.5
3  1983.0  ...                                               13.1
4  1984.0  ...                                               12.9

[5 rows x 37 columns]

## Final Cleaning  & Final Dataset

In [27]:
datum.head()

     Year  ... Percentage of persons without health insurance (%)
0  1980.0  ...                                               11.4
1  1981.0  ...                                                NaN
2  1982.0  ...                                               12.5
3  1983.0  ...                                               13.1
4  1984.0  ...                                               12.9

[5 rows x 37 columns]

In [28]:
datum_columns = ['Year', 'Health_Spending', 'Health_Consumption_Spending', 'Personal_Health', 'Administration_Cost', 'Public_Health_Activities',
                 'Investment', 'Population', 'GDP', 'Annual_Pct_Change_Health_Spending', 'Annual_Pct_Change_Health_Consumption', 'Annual_Pct_Change_Personal_Health', 
                 'Annual_Pct_Change_Administration_Cost', 'Annual_Pct_Change_Public_Health_Activities', 
                 'Annual_Pct_Change_Investment', 'Annual_Pct_Change_Population', 'Annual_Pct_Change_GDP', 'Percent_Spent_National_Health',
                 'Percent_Spent_Health_Consumption', 'Percent_Spent_Personal_Health', 'Percent_Spent_Administration_Cost', 'Percent_Spent_Public_Health_Activities',
                 'Percent_Spent_Investment', 'Per_Capita_National_Health', 'Per_Capita_Health_Consumption', 'Per_Capita_Personal_Health', 'Per_Capita_Administration_Cost', 
                 'Per_Capita_Public_Health_Activities', 'Per_Capita_Investment', 'Pct_GDP_on_National_Health', 'Life_Expectancy', 'Youth_Mortality_Rate', 'Annual_Deaths', 
                 'Vaccination_Rate', 'Per_Capita_Real_GDP', 'Total_Population', 'Pct_Uninsured_Rate']

In [29]:
datum.columns = datum_columns

In [30]:
datum = datum.drop(columns=['Total_Population'])

In [31]:
datum.head()

     Year Health_Spending  ... Per_Capita_Real_GDP Pct_Uninsured_Rate
0  1980.0           253.2  ...           29154.891               11.4
1  1981.0           293.6  ...           29631.477                NaN
2  1982.0           330.9  ...           28651.811               12.5
3  1983.0           364.8  ...           29674.672               13.1
4  1984.0           401.9  ...           31669.826               12.9

[5 rows x 36 columns]

In [33]:
datum[['Health_Spending', 'Health_Consumption_Spending', 'Personal_Health', 'Administration_Cost', 'Public_Health_Activities', 'Investment', 'GDP']] = datum[['Health_Spending', 'Health_Consumption_Spending', 'Personal_Health', 'Administration_Cost', 'Public_Health_Activities', 'Investment', 'GDP']].apply(lambda x: x*pow(10, 9))

In [34]:
datum[['Population']] = datum[['Population']].apply(lambda x: x*pow(10, 6))

In [35]:
datum.head()

     Year Health_Spending  ... Per_Capita_Real_GDP Pct_Uninsured_Rate
0  1980.0       2.532e+11  ...           29154.891               11.4
1  1981.0       2.936e+11  ...           29631.477                NaN
2  1982.0       3.309e+11  ...           28651.811               12.5
3  1983.0       3.648e+11  ...           29674.672               13.1
4  1984.0       4.019e+11  ...           31669.826               12.9

[5 rows x 36 columns]